<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Sample App -
<%= # OMFG forgot "=" in the <%= pfffffffffffffff
#sa = Myclass.new

#:title.length
#:title.empty?
#:title.to_s # to string
#:title => "Home" # ERROR  user = {:title => "Home"}  puts user  puts user.to_a.inspect # Вывести массив.# Вывести массив буквально.  
# НИХУА :title => "Home" где  :title.inspect  user.inspect  user[:title]  user.tap {}  :title == "Home"
#sa.string(:title)  
user1 = {:title => "Home"}
user2 = {name: "Home"}
user1 == user2
%>
<%= #s = Word.new("level1")
#s.palindrome?
%>
</h1>
  <h2>
    <img alt="Rails logo" src="/assets/rails-9308b8f92fea4c19a3a0d8385b494526.png" />
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/', class: "btn btn-lg btn-primary" %>
<%= link_to 'User', users_path, class: "btn btn-lg btn-primary" %> |
<%= link_to 'about', static_pages_about_path, class: "btn btn-lg btn-primary" %> |
<%= link_to 'help', static_pages_help_path, class: "btn btn-lg btn-primary" %> |
<%= link_to 'contact', static_pages_contact_path, class: "btn btn-lg btn-primary" %>