<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Sample App <img alt="Rails logo" src="/assets/rails-9308b8f92fea4c19a3a0d8385b494526.png" /></h1>

  <h2>
    <p>This is the home page for the 
    <%= s = Word.new("level")
    s.palindrome?%>
    <%= 
    sa = Myclass.new
    sa.string(:title)
    %>
    </p>
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails-logo.svg", alt: "Rails logo"), 'http://rubyonrails.org/' %> |
<%= link_to 'User', users_path, class: "btn btn-lg btn-primary" %> |
<%= link_to 'about', static_pages_about_path, class: "btn btn-lg btn-primary" %> |
<%= link_to 'help', static_pages_help_path, class: "btn btn-lg btn-primary" %> |
<%= link_to 'contact', static_pages_contact_path, class: "btn btn-lg btn-primary" %>
