<!--Основное различие между классами и идентификаторами в том, что классы могут быть использованы несколько раз на странице, а идентификаторы — лишь один раз
  navbar классы имеют особое значение для фреймворка 
  Bootstrap

-->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <!--Тег <nav> хотя формально здесь и не нужен, служит для обозначения того, что это именно навигационные ссылки Тем временем, классы nav, navbar-nav и navbar-right тега ul имеют особое значение для Bootstrap и будут автоматически стилизованы, когда мы включим Bootstrap CSS-->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to 'Hello', hello_path, class: "btn btn-lg btn-primary" %> </li>
        <!--link_to для создания ссылок (которые мы создавали непосредственно с якорным (анкорным) тегом a
          <li><%= link_to "Log in", login_path %></li> <!--login_path нету логина вооще авторизации-->
        <!-- 
        -->
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings:edit_user_path(current_user)", edit_user_path(current_user)%></li>
           
          <li><%= link_to "logout123", logout_path, method: "delete" %></li>  <!--нерабочий  delete 'logout'  => 'sessions#destroy'  Если вы полностью закроете браузер, то можете убедиться, что приложение забыло ваш статус и требует войти снова, чтобы появилась возможность увидеть вышеописанные изменения.-->
          </li> <!--нет стоп авторизованн раз видно-->
          <li class="dropdown"> <!--нету dropdown -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>  
<!--
<div class="dropdown-content">
          <a href="http://localhost:3000/sessions/new">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
         </div>
-->         