<!-- 
В качестве первого шага к появлению ссылок и стилей в учебном приложении, мы добавим в файл макета сайта application.html.erb 
-->
<!DOCTYPE html>
<html>
  <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <%= render 'layouts/shim' %>
    <%= render 'layouts/header' %>
  <body>
    <!--Завершающая часть макета — это div для основного содержимого:
    -->
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      <!--
      1.отладочную информацию 
      Rails поставляется с тремя окружениями: test (тестовое), development (разработки) и production (рабочий сервер). 
      -->
    </div>
  </body>
</html>
<!--
      1. Профили в этом разделе будут первыми по-настоящему динамическими страницами в нашем приложении. Хотя представление будет существовать в виде отдельной страницы кода, в каждом профиле будет использована его собственная информация, полученная из базы данных приложения.
      Окружением по умолчанию для Rails-консоли является окружение разработки:

      $ rails console
      Loading development environment
    Rails.env
    "development"
    Rails.env.development?
    true
    Rails.env.test?
    false  
    В другом окрыжкнии rails console test
    -->
  <!-- Rails определяет специальную функцию для включения таблиц стилей
  В Ruby в обявлении скобки не обязательны
  media определенно выглядит как хэш, но где фигурные скобки? { 
  Когда хэш — последний аргумент в вызове функции, фигурные скобки не являются обязательными, поэтому эти два выражения эквивалентны: 
  ?body=1  re-reload CSS -->